<%-  include('partials/head') %> 
<%-  include('partials/nav') %> 
    <body>
        <div class="container">
            <nav class="navbar bg-white" action="http://localhost:3000/posts" method="get">
                <div class="container-fluid">
                    <form action="http://localhost:3000/posts" method="get" class="d-flex" >
                        <input type="search" name="title" class="form-control me-2" placeholder="Search post" aria-label="Search" >
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <form action="http://localhost:3000/posts" method="post">
                <div class="mb-3">
                    <label class="form-label">Title of the post</label>
                    <input type="text" name="title" class="form-control" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Body of the post</label>
                    <input type="text" name="body" class="form-control" >
                </div>
                <button class="btn btn-primary">Add a post</button>
            </form>
            <h2>All posts</h2>
            <% for(let post of posts) { %> 
                <article>
                    <p><%= post.post %> - <strong><%= post.username %></strong></p>
                    <p></p>
                </article> 
            <% } %> 
    </div>
    </body>
<%-  include('partials/footer') %> 