<%-  include('partials/head') %> 
<%-  include('partials/nav') %> 
<div class="container">
    <h1>Welcome to the <%= name  %>  subreddit</h1>
    <h3><%= description  %> </h3>
    <p>Total <%= subscribers  %> subscribers</p>
    <h1>All <%= name %> Posts</h1>
    <section>
        <% for(let post of posts) { %> 
        <article>
            <%  if (post.img) {%> 
            <img src=<%= post.img  %>  alt="post photo">
            <% } %> 
        <p>Title: <%= post.title %></p> 
        <p>Author: <%= post.author %> </p>
        </article>
        <hr>
        <% } %> 
    </section>
</div>
<%-  include('partials/footer') %> 