<%-  include('../partials/head') %> 
<%-  include('../partials/nav') %> 
    <body>
        <div class="container">
            <nav class="navbar bg-white" action="http://localhost:3000/posts" method="get">
                <div class="container-fluid">
                    <form action="http://localhost:3000/posts" method="get" class="d-flex" >
                        <input type="search" name="title" class="form-control me-2" placeholder="Search post" aria-label="Search" >
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <button class="btn btn-primary">
                        <a class="nav-link active" aria-current="page" href="/posts/new">
                            Add a new post
                        </a>
                    </button>
                </div>
            </nav>
            <h2>All posts</h2>
            <% for(let post of posts) { %> 
                <article>
                    <p><%= post.post %> - <strong><%= post.username %></strong></p>
                    <a href="/posts/<%= post.postId%> ">details</a>
                </article> 
            <% } %> 
    </div>
    </body>
<%-  include('../partials/footer') %> 